h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}

.project-name {
    text-align: center;
}

.App {
    padding: 50px;
    height: calc(100vh - 100px);
}

.input-form {
    width: 100%;
}

.input-form form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-form form input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-form form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.answer p {
    padding: 10px;
}

.answer ul {
    list-style: none;
    padding: 0;
}
